# Dependencies
node_modules/

# Browser Session Storage
storage/*.json

# Logs
logs/
*.log

# Environment Variables
.env

# Playwright Reports
playwright-report/
test-results/

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db